* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  background: linear-gradient(to right bottom,
      rgba(135, 216, 233, 0.7),
      rgba(120, 174, 194, 0.3));
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(20rem);
  display: flex;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(to right bottom,
      rgba(135, 216, 233, 0.7),
      rgba(120, 174, 194, 0.5));
  height: 10rem;
  width: 10rem;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
}

.circle1 {
  top: 40%;
  left: 88%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

